
.crystal-image {
    width: 200px;
    height: 200px;
    padding: 30px;
}

image_clear {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

